.flex, body, .container, .container .inner-container, .container .inner-container #searchContainer, .container .inner-container:last-child .users-container, .container .inner-container:last-child .users-container #cabecalho, .container .inner-container:last-child .users-container #usersSection #usersList #user ul, .container .inner-container:last-child .users-container #usersSection #usersList, .container .inner-container:last-child .users-container #usersSection #usersList #user ul li, .container .inner-container .statistic-container #statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  background: -webkit-gradient(linear, left top, right bottom, from(#3d5172), to(#14160b));
  background: linear-gradient(left/bottom, #3d5172, #14160b);
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

.container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80vw;
  height: 95vh;
  border: 1px solid white;
  background-color: #f7f8f9;
  margin-top: 1%;
  border-radius: 1rem 1rem 0.4rem 0.4rem;
}

.container .inner-container {
  width: 100%;
  height: 10%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .inner-container h1 {
  width: 50%;
  margin-left: 0.85em;
  font-size: 1.5rem;
  color: #14160b;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.container .inner-container #searchContainer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  padding-right: 5%;
}

.container .inner-container #searchContainer #search {
  width: 40%;
  border-radius: 0.5rem;
  border: 1px solid #b7c8ce;
  -webkit-box-shadow: 0 0.1em #b7c8ce;
          box-shadow: 0 0.1em #b7c8ce;
  padding: 0.4rem;
}

.container .inner-container .users-container,
.container .inner-container .statistic-container {
  width: 30%;
  margin: 0 2%;
}

.container .inner-container:last-child {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  width: 99%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0 0 0.5em #b7c8ce;
          box-shadow: 0 0 0.5em #b7c8ce;
  border-radius: 1rem 1rem 0.4rem 0.4rem;
}

.container .inner-container:last-child .users-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 98%;
  width: 60%;
}

.container .inner-container:last-child .users-container h3 {
  width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 0.8rem;
  margin: 3%;
}

.container .inner-container:last-child .users-container #cabecalho, .container .inner-container:last-child .users-container #usersSection #usersList #user ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 97%;
  padding: 2%;
  margin-bottom: 2%;
  border-bottom: 1px solid #b7c8ce;
}

.container .inner-container:last-child .users-container #cabecalho li, .container .inner-container:last-child .users-container #usersSection #usersList #user ul li {
  width: 20%;
  padding-left: 1%;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.container .inner-container:last-child .users-container #cabecalho #name, .container .inner-container:last-child .users-container #usersSection #usersList #user ul #name {
  width: 40%;
}

.container .inner-container:last-child .users-container #usersSection {
  width: 100%;
  height: 80%;
}

.container .inner-container:last-child .users-container #usersSection #usersList {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.container .inner-container:last-child .users-container #usersSection #usersList #user {
  width: 100%;
}

.container .inner-container:last-child .users-container #usersSection #usersList #user ul {
  width: 100%;
  border: none;
}

.container .inner-container:last-child .users-container #usersSection #usersList #user ul li {
  text-transform: capitalize;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container .inner-container:last-child .users-container #usersSection #usersList #user ul li p {
  margin-left: 10%;
}

.container .inner-container:last-child .users-container #usersSection #usersList #user ul li img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.container .inner-container .statistic-container #statistic {
  margin: 6% 0;
}

.container .inner-container .statistic-container #statistic ul {
  width: 50%;
}

.container .inner-container .statistic-container #statistic ul li {
  margin: 8%;
}
/*# sourceMappingURL=style.css.map */