.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: linear-gradient(left/bottom, #3d5172, #14160b);
  @extend .flex;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}
.container {
  @extend .flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80vw;
  height: 95vh;
  border: 1px solid white;
  background-color: #f7f8f9;
  margin-top: 1%;
  border-radius: 1rem 1rem 0.4rem 0.4rem;

  .inner-container {
    @extend .flex;
    width: 100%;
    height: 10%;
    justify-content: space-around;

    h1 {
      width: 50%;
      margin-left: 0.85em;
      font-size: 1.5rem;
      color: #14160b;
      letter-spacing: 1px;
      text-transform: capitalize;
    }

    #searchContainer {
      @extend .flex;
      justify-content: flex-end;
      width: 100%;
      padding-right: 5%;
      #search {
        width: 40%;
        border-radius: 0.5rem;
        border: 1px solid #b7c8ce;
        box-shadow: 0 0.1em #b7c8ce;
        padding: 0.4rem;
      }
    }

    .users-container,
    .statistic-container {
      width: 30%;
      margin: 0 2%;
    }

    &:last-child {
      flex: 5;
      width: 99%;
      align-items: flex-start;
      justify-content: space-around;
      box-shadow: 0 0 0.5em #b7c8ce;
      border-radius: 1rem 1rem 0.4rem 0.4rem;

      .users-container {
        @extend .flex;
        flex-direction: column;
        justify-content: space-around;
        height: 98%;
        width: 60%;

        h3 {
          width: 100%;
          text-align: right;
          font-weight: 700;
          font-size: 0.8rem;
          margin: 3%;
        }
        #cabecalho {
          @extend .flex;
          justify-content: space-around;
          width: 97%;
          padding: 2%;
          margin-bottom: 2%;
          border-bottom: 1px solid #b7c8ce;

          li {
            width: 20%;
            padding-left: 1%;
            text-transform: uppercase;
            font-size: 0.9rem;
          }

          #name {
            width: 40%;
          }
        }

        #usersSection {
          width: 100%;
          height: 80%;
          #usersList {
            @extend .flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            height: 100%;
            overflow: auto;
            #user {
              width: 100%;
              ul {
                @extend #cabecalho;
                width: 100%;
                border: none;

                li {
                  text-transform: capitalize;
                  @extend .flex;
                  justify-content: flex-start;

                  p {
                    margin-left: 10%;
                  }

                  img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                  }
                }
              }
            }
          }
        }
      }
    }

    .statistic-container {
      #statistic {
        @extend .flex;
        margin: 6% 0;

        ul {
          width: 50%;

          li {
            margin: 8%;
          }
        }
      }
    }
  }
}
